.bg-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    background-color: black;
    color: white;
    height: 100vh;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

button{
    border-width: 0px;
    border-radius: 5px;
    background-color: rgb(115, 198, 247);
    width:126px;
    height:36px;
    padding: 10px;
}

#output{
    margin:20px 0px;
    background-color: white;
    color:black;
    overflow-y: scroll;
}